<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomeLander</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="upload-section">
      <label class="file-selector-btn">
        <input id="file-selector" type="file" accept=".csv" /><img
          src="https://img.icons8.com/external-inkubators-glyph-inkubators/100/null/external-upload-file-internet-of-things-inkubators-glyph-inkubators.png"
        />
      </label>
      <button id="upload-file-btn">Upload</button>
    </div>
    <div class="home-page">
      <div class="home-page-title">HomeLander</div>
      <div class="home-page-functions">
        <button id="bed-count-btn" class="function-item">
          <form>
            <label> Bed Count </label>
            <select id="bed-count-select">
              <option value="0">none</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
        </button>
        <span type="button" id="filter-price-btn" class="function-item">Filter by Price</span>
        <!-- TODO add filter hidden price  -->
        <div class="filter-price hidden ">
          <input type="number" min="200" max="10000" step="1" id="input-number-min">
          <input type="number" min="200" max="10000" step="1" id="input-number-max">
       
        </div>
        <!-- <button type="button" id="price-count-btn" class="function-item">Min-Max</button> -->
        <button type="button" id="search-btn" class="function-item">Search</button>
      </form>

      </div>
      <div class="home-page-contents"></div>
    </div>
    <script type="module" src="script.js"></script>
  </body>
</html>
