* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}
.upload-section {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
input[type="file"] {
  display: none;
}
.file-selector-btn {
  margin: 15px;
  display: flex;
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: white;
  text-align: center;
}
#upload-file-btn {
  color: white;
  background-color: black;
  width: 140px;
  height: 40px;
  border-radius: 20px;
}
#upload-file-btn:hover {
  background-color: rgb(36, 36, 36);
  cursor: pointer;
}
.hidden {
  display: none;
}

/* HomePage section */
.home-page-title {
  font-size: 30px;
  text-align: center;
  padding: 35px 0px 35px 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.home-page-functions {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: rgb(242, 247, 255);
  height: 50px;
}
.function-item {
  cursor: pointer;
  display: flex;
  border: 1px solid rgb(211, 211, 211);
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: black;
  height: 30px;
  margin: 10px;
  width: 90px;
}
.home-page-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  /* background-color: green; */
}

.home-page-item {
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgb(197, 197, 197);
  width: 230px;
}
.house-img {
  border-radius: 5px;
  height: 160px;
  margin: 20px;
  background-color: rgb(160, 189, 214);
}
.house-price {
  font-size: 20px;
  font-weight: bold;
}
.beds-baths-sqft {
  margin-top: 10px;
  margin-bottom: 10px;
}
